
        body {
            margin: 0;
            background-color: rgb(246, 246, 246);
            font-family: Arial, sans-serif;
            height: 100vh;
        }

        /*Header Styles*/
        .logo {
            background-color: rgb(184, 0, 0);
            height: 4rem;
            padding: 0 2rem;
            align-items: center;
            align-content: center;
        }

        path {
            fill: #fff;
        }

        nav {
            background-color: #fff;
            height: 2.8rem;
            align-content: center;
        }

        nav ul {
            margin: 0px 2rem;
            padding: 0;
        }

        nav ul li {
            /*margin-bottom: 1.5rem;*/
            border-bottom: 0.2rem solid transparent;
        }

        nav ul li:hover {
            border-bottom: 0.2rem solid #8B0000;
        }

        ul {
            display: flex;
            list-style: none;
            gap: 1rem;
            align-items: start;
        }

        a {
            text-decoration: none;
            color: black;
        }

        /*Container Styles*/
        .container {
            display: flex;
            max-width: 1000px;
            margin: 0 5rem;
            padding: 0 1rem;
            gap: 2rem;
            justify-self: center;
        }

        h1,
        h2 {
            padding: 0;
            margin: 0;
        }

        h1 {
            padding: 2.5rem 0;
        }

        h2 {
            padding: 1.5rem 0;
        }

        p {
            padding: 0;
            margin: 0;
            margin-bottom: 1.5rem;
        }

        figure {
            margin: 0;
            margin-bottom: 1.5rem;
        }

        /*Aside Styles*/
        .article-suggestions {
            width: 500px;
        }

        .aside-section ul {
            flex-direction: column;
            gap: 3rem;
            padding: 0;
        }

        .aside-section ul li {

            height: 150px;
            width: 150px;
            padding: 0.5rem;
            text-align: center;
            align-content: center;
            cursor: pointer;
        }

        .article-suggestions .aside-section ul li {
            background-color: brown;
            color: white;
            font-weight: bold;
        }

        .article-suggestions .aside-section:first-child ul li {
            background-color: white;
            color: black;
        }

        /*Footer*/
        footer {
            background-color: rgb(34, 34, 34);
        }

        footer .links ul {
            display: flex;
            flex-direction: column;
        }

        .links div {
            border-bottom: .0625rem solid rgb(63, 63, 66);
        }

        .links div li {
            margin: 1rem 0;
            font-weight: bold;
            font-size: small;
        }

        .links div:nth-child(2) {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .links ul div:nth-child(2) li {
            margin: 1rem 0;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-column-gap: 10rem;
        }

        footer li,
        footer a {
            color: white;
        }
